### Step 1 Lowercasing :-

In [26]:
'''What is NLP:=>

Natural language processing is a subfield of linguistics, computer science, and artificial intelligence
concerned with the interactions between computers and human language, in particular how to
program computers to process and analyze large amounts of natural language data.'''

'What is NLP:=>\n\nNatural language processing is a subfield of linguistics, computer science, and artificial intelligence\nconcerned with the interactions between computers and human language, in particular how to\nprogram computers to process and analyze large amounts of natural language data.'

In [1]:
import pandas as pd
a=pd.read_csv(r"D:\CODING\PYTHON\NLP\IMDB Dataset_1.csv")
a

                                                  review sentiment
0      One of the other reviewers has mentioned that ...  positive
1      A wonderful little production. <br /><br />The...  positive
2      I thought this was a wonderful way to spend ti...  positive
3      Basically there's a family where a little boy ...  negative
4      Petter Mattei's "Love in the Time of Money" is...  positive
...                                                  ...       ...
49995  I thought this movie did a down right good job...  positive
49996  Bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  I am a Catholic taught in parochial elementary...  negative
49998  I'm going to have to disagree with the previou...  negative
49999  No one expects the Star Trek movies to be high...  negative

[50000 rows x 2 columns]

In [2]:
a.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [3]:
# 3 row only lower case
a["review"][3].lower()

"basically there's a family where a little boy (jake) thinks there's a zombie in his closet & his parents are fighting all the time.<br /><br />this movie is slower than a soap opera... and suddenly, jake decides to become rambo and kill the zombie.<br /><br />ok, first of all when you're going to make a film you must decide if its a thriller or a drama! as a drama the movie is watchable. parents are divorcing & arguing like in real life. and then we have jake with his closet which totally ruins all the film! i expected to see a boogeyman similar movie, and instead i watched a drama with some meaningless thriller spots.<br /><br />3 out of 10 just for the well playing parents & descent dialogs. as for the shots with jake: just ignore them."

In [4]:
# All reviews in lower case
a["review"].str.lower()

0        one of the other reviewers has mentioned that ...
1        a wonderful little production. <br /><br />the...
2        i thought this was a wonderful way to spend ti...
3        basically there's a family where a little boy ...
4        petter mattei's "love in the time of money" is...
                               ...
49995    i thought this movie did a down right good job...
49996    bad plot, bad dialogue, bad acting, idiotic di...
49997    i am a catholic taught in parochial elementary...
49998    i'm going to have to disagree with the previou...
49999    no one expects the star trek movies to be high...
Name: review, Length: 50000, dtype: object

In [5]:
a["review"]=a["review"].str.lower()
a

                                                  review sentiment
0      one of the other reviewers has mentioned that ...  positive
1      a wonderful little production. <br /><br />the...  positive
2      i thought this was a wonderful way to spend ti...  positive
3      basically there's a family where a little boy ...  negative
4      petter mattei's "love in the time of money" is...  positive
...                                                  ...       ...
49995  i thought this movie did a down right good job...  positive
49996  bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  i am a catholic taught in parochial elementary...  negative
49998  i'm going to have to disagree with the previou...  negative
49999  no one expects the star trek movies to be high...  negative

[50000 rows x 2 columns]

### Step 2 Remove HTML Tags

In [6]:
import re
# def remove_html_tags(text):
#     clean = re.compile('<.*?>')
#     return re.sub(clean, '', text)

def remove_html_tags(text):
    p=re.compile('<.*?>')
    return p.sub(r'',text)

In [7]:
# example:-----------------

t="<html><body><p> Movie 1</p><p> Actor - Aamir Khan</p><p> Click here to <a href='http://google.com'>download</a></p></html></html>"

remove_html_tags(t)

' Movie 1 Actor - Aamir Khan Click here to download'

In [8]:
a["review"].apply(remove_html_tags)

0        one of the other reviewers has mentioned that ...
1        a wonderful little production. the filming tec...
2        i thought this was a wonderful way to spend ti...
3        basically there's a family where a little boy ...
4        petter mattei's "love in the time of money" is...
                               ...
49995    i thought this movie did a down right good job...
49996    bad plot, bad dialogue, bad acting, idiotic di...
49997    i am a catholic taught in parochial elementary...
49998    i'm going to have to disagree with the previou...
49999    no one expects the star trek movies to be high...
Name: review, Length: 50000, dtype: object

### Step 3 Remove URLs

In [9]:
def remove_url(text):
    p=re.compile(r'http?//\S+|www\.S+')
    return p.sub(r'',text)

In [10]:
text1 = 'Check out my notebook https://www.kaggle.com/campusx/notebook8223fc1abb'
text2 = 'Check out my notebook http://www.kaggle.com/campusx/notebook8223fc1abb'
text3 = 'Google search here www.google.com'
text4 = 'For notebook click https://www.kaggle.com/campusx/notebook8223fclabb to search check www.google.com'

In [11]:
remove_url(text4)

'For notebook click https://www.kaggle.com/campusx/notebook8223fclabb to search check www.google.com'

### Step 4 Remove Punctuation

In [12]:
import string,time
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [13]:
pu=string.punctuation

In [14]:
def remove_punctuation(text):
    for i in pu:
        text=text.replace(i,'')
    return text

In [15]:
text= 'Hello, world! This is a test...?'

In [16]:
#  This is slow Technique
start=time.time()
print(remove_punctuation(text))
time1=time.time()-start
print(f"Time taken: {time1*500000} seconds")

Hello world This is a test
Time taken: 0.0 seconds

In [17]:
def remove_punctuation_2(text):
    # p=re.compile(r'[{}]'.format(exclude))
    # return p.sub(r'',text)
    return text.translate(str.maketrans('', '', pu))

In [18]:
# This is fast Technique
start=time.time()
remove_punctuation_2(text)
time2=time.time()-start
print(f"Time taken: {time2*50000} seconds")

Time taken: 50.258636474609375 seconds

In [19]:
b=pd.read_csv(r"D:\CODING\PYTHON\NLP\sample.csv")
b

,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id
0,119237,105834,True,Wed Oct 11 06:55:44 +0000 2017,@AppleSupport causing the reply to be disregar...,119236,NaN
1,119238,ChaseSupport,False,Wed Oct 11 13:25:49 +0000 2017,@105835 Your business means a lot to us. Pleas...,NaN,119239.0
2,119239,105835,True,Wed Oct 11 13:00:09 +0000 2017,@76328 I really hope you all change but I'm su...,119238,NaN
3,119240,VirginTrains,False,Tue Oct 10 15:16:08 +0000 2017,@105836 LiveChat is online at the moment - htt...,119241,119242.0
4,119241,105836,True,Tue Oct 10 15:17:21 +0000 2017,@VirginTrains see attached error message. I've...,119243,119240.0
...,...,...,...,...,...,...,...
88,119330,105859,True,Wed Oct 11 13:50:42 +0000 2017,@105860 I wish Amazon had an option of where I...,119329,119331.0
89,119331,105860,True,Wed Oct 11 13:47:14 +0000 2017,They reschedule my shit for tomorrow https://t...,119330,NaN
90,119332,Tesco,False,Wed Oct 11 13:34:06 +0000 2017,"@105861 Hey Sara, sorry to hear of the issues ...",119333,119334.0
91,119333,105861,True,Wed Oct 11 14:05:18 +0000 2017,@Tesco bit of both - finding the layout cumber...,"119335,119336",119332.0
92,119335,Tesco,False,Wed Oct 11 15:38:07 +0000 2017,@105861 If that doesn't help please DM your fu...,NaN,119333.0

In [20]:
b["text"].apply(remove_punctuation_2)

0     AppleSupport causing the reply to be disregard...
1     105835 Your business means a lot to us Please ...
2     76328 I really hope you all change but Im sure...
3     105836 LiveChat is online at the moment  https...
4     VirginTrains see attached error message Ive tr...
                            ...
88    105860 I wish Amazon had an option of where I ...
89    They reschedule my shit for tomorrow httpstcoR...
90    105861 Hey Sara sorry to hear of the issues yo...
91    Tesco bit of both  finding the layout cumberso...
92    105861 If that doesnt help please DM your full...
Name: text, Length: 93, dtype: object

In [21]:
b["text"]=b["text"].apply(remove_punctuation_2)
b

,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id
0,119237,105834,True,Wed Oct 11 06:55:44 +0000 2017,AppleSupport causing the reply to be disregard...,119236,NaN
1,119238,ChaseSupport,False,Wed Oct 11 13:25:49 +0000 2017,105835 Your business means a lot to us Please ...,NaN,119239.0
2,119239,105835,True,Wed Oct 11 13:00:09 +0000 2017,76328 I really hope you all change but Im sure...,119238,NaN
3,119240,VirginTrains,False,Tue Oct 10 15:16:08 +0000 2017,105836 LiveChat is online at the moment https...,119241,119242.0
4,119241,105836,True,Tue Oct 10 15:17:21 +0000 2017,VirginTrains see attached error message Ive tr...,119243,119240.0
...,...,...,...,...,...,...,...
88,119330,105859,True,Wed Oct 11 13:50:42 +0000 2017,105860 I wish Amazon had an option of where I ...,119329,119331.0
89,119331,105860,True,Wed Oct 11 13:47:14 +0000 2017,They reschedule my shit for tomorrow httpstcoR...,119330,NaN
90,119332,Tesco,False,Wed Oct 11 13:34:06 +0000 2017,105861 Hey Sara sorry to hear of the issues yo...,119333,119334.0
91,119333,105861,True,Wed Oct 11 14:05:18 +0000 2017,Tesco bit of both finding the layout cumberso...,"119335,119336",119332.0
92,119335,Tesco,False,Wed Oct 11 15:38:07 +0000 2017,105861 If that doesnt help please DM your full...,NaN,119333.0

In [23]:
b.sample(5)

,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id
66,119305,105854,True,Wed Oct 11 13:49:52 +0000 2017,AskSpectrum Its just in my yard Ive called 45 ...,NaN,119304.0
85,119327,HPSupport,False,Wed Oct 11 13:36:36 +0000 2017,105858 Hi Agoura thanks for tweeting Please re...,NaN,119328.0
56,119296,105850,True,Wed Oct 11 13:55:48 +0000 2017,SouthwestAir I am Thank you for the answer,NaN,119295.0
57,119297,105850,True,Wed Oct 11 13:34:46 +0000 2017,southwestair Just curiouswill I get the compan...,119295,NaN
3,119240,VirginTrains,False,Tue Oct 10 15:16:08 +0000 2017,105836 LiveChat is online at the moment https...,119241,119242.0

In [25]:
import nltk

In [26]:
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('wordnet')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\sinha\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\sinha\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\sinha\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

### Chat Word Treatment

In [27]:
chat_words={'AFAIK': 'As Far As I Know',
'AFK': 'Away From Keyboard',
'ASAP': 'As Soon As Possible',
'ATK': 'At The Keyboard',
'ATM': 'At The Moment',
'A3': 'Anytime, Anywhere, Anyplace',
'BAK': 'Back At Keyboard',
'BBL': 'Be Back Later',
'BBS': 'Be Back Soon',
'BFN': 'Bye For Now',
'B4N': 'Bye For Now',
'BRB': 'Be Right Back',
'BRT': 'Be Right There',
'BTW': 'By The Way',
'B4': 'Before',
'CU': 'See You',
'CUL8R': 'See You Later',
'CYA': 'See You',
'FAQ': 'Frequently Asked Questions',
'FC': 'Fingers Crossed',
'FWIW': "For What It's Worth",
'FYI': 'For Your Information',
'GAL': 'Get A Life',
'GG': 'Good Game',
'GN': 'Good Night',
'GMTA': 'Great Minds Think Alike',
'GR8': 'Great!',
'G9': 'Genius',
'IC': 'I See',
'ICQ': 'I Seek you (also a chat program)',
'ILU': 'ILU: I Love You',
'IMHO': 'In My Honest/Humble Opinion',
'IMO': 'In My Opinion',
'IOW': 'In Other Words',
'IMO': 'In My Opinion',
'IOW': 'In Other Words',
'IRL': 'In Real Life',
'KISS': 'Keep It Simple, Stupid',
'LDR': 'Long Distance Relationship',
'LMAO': 'Laugh My A .. Off',
'LOL': 'Laughing Out Loud',
'LTNS': 'Long Time No See',
'L8R': 'Later',
'MTE': 'My Thoughts Exactly',
'M8': 'Mate',
'NRN': 'No Reply Necessary',
'OIC': 'Oh I See',
'PITA': 'Pain In The A .. ',
'PRT': 'Party',
'PRW': 'Parents Are Watching',
'ROFL': 'Rolling On The Floor Laughing',
'ROFLOL': 'Rolling On The Floor Laughing Out Loud',
'ROTFLMAO': 'Rolling On The Floor Laughing My A .. Off',
'SK8': 'Skate',
'STATS': 'Your sex and age',
'ASL': 'Age, Sex, Location',
'THX': 'Thank You',
'TTFN': 'Ta-Ta For Now!',
'TTYL': 'Talk To You Later',
'U': 'You',
'U2': 'You Too',
'U4E': 'Yours For Ever',
'WB': 'Welcome Back',
'WTF': 'What The F ...,',
'WTG': 'Way To Go!',
'WUF': 'Where Are You From?',
'W8': 'Wait ... ',
'7K': 'Sick :- D Laugher'}

In [ ]:
def chat_conversion(text):
    new_text = []
    for w in text.split() :
        if w.upper() in chat_words:
            new_text.append(chat_words[w.upper()])
        else:
            new_text.append(w)
            
    return " ".join(new_text)

In [31]:
b["text"]=b["text"].apply(chat_conversion)
b.sample(5)

,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id
63,119302,105842,True,Wed Oct 11 13:47:24 +0000 2017,BritishAirways Thanks for your answer Response...,119303,119266.0
5,119243,VirginTrains,False,Tue Oct 10 15:25:14 +0000 2017,105836 Have you tried from another device Miri...,119244,119241.0
7,119245,VirginTrains,False,Tue Oct 10 15:33:22 +0000 2017,105836 Its working OK from here Miriam Does th...,NaN,119244.0
85,119327,HPSupport,False,Wed Oct 11 13:36:36 +0000 2017,105858 Hi Agoura thanks for tweeting Please re...,NaN,119328.0
48,119283,105847,True,Wed Oct 11 12:37:46 +0000 2017,SpotifyCares ive been having issues with playb...,119281,NaN

In [29]:
chat_conversion("I will be AFK for a while. BBL")

'I will be Away From Keyboard for a while. Be Back Later'

In [ ]:
chat_conversion("U2 . BBS , U4E")

'You Too . Be Back Soon , Yours For Ever'

### Spelling Correction

In [ ]:
from textblob import TextBlob

In [ ]:
incorrect_text = "I havv a dreem that one day this nation will rise up and live out the true meaning of its creed: 'We hold these truths to be self-evident, that""IMDB Dataset.csv"
text_blob = TextBlob(incorrect_text)
text_blob.correct().string

"I have a dream that one day this nation will rise up and live out the true meaning of its creed: 'He hold these truths to be self-evident, thatIMDB Dataset.is"

### Removing Stop Words

In [1]:
from nltk.corpus import stopwords
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\sinha\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [2]:
stopwords.words('english')
# stopwords.words('spanish')

['a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 "he'd",
 "he'll",
 'her',
 'here',
 'hers',
 'herself',
 "he's",
 'him',
 'himself',
 'his',
 'how',
 'i',
 "i'd",
 'if',
 "i'll",
 "i'm",
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it'd",
 "it'll",
 "it's",
 'its',
 'itself',
 "i've",
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she'd",
 "she'll",
 "she's",
 'should',
 'shouldn',
 "shouldn't",
 "should've",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 "they'd",
 "they'll",
 "they're",
 "they've",
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 "we'd",
 "we'll",
 "we're",
 'were',
 'weren',
 "weren't",
 "we've",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 'your',
 "you're",
 'yours',
 'yourself',
 'yourselves',
 "you've"]

In [3]:
def remove_stopwords(text):
    new_text = []

    for word in text.split():
        if word in stopwords.words('english'):
            new_text.append('')
        else:
            new_text.append(word)
    x = new_text[ : ]
    new_text.clear()
    return " ".join(x)

In [4]:
remove_stopwords("This is a sample sentence with some stop words.")

'This   sample sentence   stop words.'

In [ ]:
a.head()

                                              review sentiment
0  one of the other reviewers has mentioned that ...  positive
1  a wonderful little production. <br /><br />the...  positive
2  i thought this was a wonderful way to spend ti...  positive
3  basically there's a family where a little boy ...  negative
4  petter mattei's "love in the time of money" is...  positive

In [ ]:
a["review"].apply(remove_stopwords)

### Handling Emojis

In [ ]:
import re
def remove_emoji(text):
    emoji_pattern = re.compile("["
        u"\U0001F600-\U0001F64F"            # emoticons
        u"\U0001F300-\U0001F5FF"            # symbols & piptographs
        u"\U0001F680-\U0001F6FF"            # transport & map symbols
        u"\U0001F1E0-\U0001F1FF"            # flags (i0S)
        u"\U00002702-\U000027B0"
        u"\U000024C2-\U0001F251"
        "]+", flags=re.UNICODE)
    return emoji_pattern.sub(r'', text)

In [ ]:
remove_emoji("This is a movie...😁😁😁😁😁😍😍😒💕❤️😊🙌")

'This is a movie...'

In [ ]:
import emoji
emoji.demojize("This is a movie...😁😁😁😁 😁😍😍😒")

'This is a movie...:beaming_face_with_smiling_eyes::beaming_face_with_smiling_eyes::beaming_face_with_smiling_eyes::beaming_face_with_smiling_eyes: :beaming_face_with_smiling_eyes::smiling_face_with_heart-eyes::smiling_face_with_heart-eyes::unamused_face:'

In [ ]:
print(emoji.demojize("This is game...😁😁😁😁 😒💕😁😍😍😒"))

This is game...:beaming_face_with_smiling_eyes::beaming_face_with_smiling_eyes::beaming_face_with_smiling_eyes::beaming_face_with_smiling_eyes: :unamused_face::two_hearts::beaming_face_with_smiling_eyes::smiling_face_with_heart-eyes::smiling_face_with_heart-eyes::unamused_face:

### Tokenization

In [32]:
s="I am going to the market today. I will buy some fruits and vegetables." 
s.split()

['I',
 'am',
 'going',
 'to',
 'the',
 'market',
 'today.',
 'I',
 'will',
 'buy',
 'some',
 'fruits',
 'and',
 'vegetables.']

In [33]:
p="I am going to the market today, and going to move,\ to the next step."
p.split(',')

['I am going to the market today',
 ' and going to move',
 '\\ to the next step.']

In [ ]:
# problem with split function
p1="i am going to delhi!"
p1.split()

['i', 'am', 'going', 'to', 'delhi!']

In [ ]:
p2="i am going to delhi! and i will be? back soon"
p2.split('.')

['i am going to delhi! and i will be? back soon']

2. Regular Expression

In [ ]:
import re
sent3 = 'I am going to delhi!'
tokens = re.findall("[\w']+", sent3)
tokens

['I', 'am', 'going', 'to', 'delhi']

In [ ]:
text = """Lorem Ipsum is simply dummy text of the printing and typesetting industry?
Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
when an unknown printer took a galley of type and scrambled it to make a type specimen book."""
sentences = re.compile('[ .!? ] ').split(text)
sentences

["Lorem Ipsum is simply dummy text of the printing and typesetting industry?\nLorem Ipsum has been the industry's standard dummy text ever since the 1500s,\nwhen an unknown printer took a galley of type and scrambled it to make a type specimen book."]

3. NLTK

In [ ]:
from nltk.tokenize import word_tokenize, sent_tokenize
import nltk
nltk.download('punkt_tab')

[nltk_data] Downloading package punkt_tab to C:\Users\subhadip
[nltk_data]     sinha\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt_tab.zip.

True

In [ ]:
l='I am going to delhi! and I will be? back soon!'
word_tokenize(l)

['I',
 'am',
 'going',
 'to',
 'delhi',
 '!',
 'and',
 'I',
 'will',
 'be',
 '?',
 'back',
 'soon',
 '!']

4. Spacy

This ts best

In [ ]:
# sent_tokenize
# This function is used to split a text into sentences.

import spacy
nlp = spacy.load("en_core_web_sm")

In [ ]:
from spacy.cli import download

download("en_core_web_sm")

✔ Download and installation successful
You can now load the package via spacy.load('en_core_web_sm')
⚠ Restart to reload dependencies
If you are in a Jupyter or Colab notebook, you may need to restart Python in
order to load all the package's dependencies. You can do this by selecting the
'Restart kernel' or 'Restart runtime' option.

In [ ]:
doc1 = nlp(p)
doc2 = nlp(p1)
doc3 = nlp(p2)
doc4 = nlp(s)

for token in doc1:
    print(token)

I
am
going
to
the
market
today
,
and
going
to
move,\
to
the
next
step
.

### Stemming




"In grammar, inflection is the modification of a word to
express different grammatical categories such as tense,
case, voice, aspect, person, number, gender, and mood.

'Stemming is the process of reducing inflection in words
to their root forms such as mapping a group of words to
the same stem even if the stem itself is not a valid word in

the Language."

In [ ]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

def stem_word(text):
    return " ".join([ps.stem(word) for word in text.split()])

In [ ]:
sample = "walk walks walking walked"
stem_word(sample)

'walk walk walk walk'

In [ ]:
text="probably the best movie I have ever seen!"
print(text)

probably the best movie I have ever seen!

In [ ]:
stem_word(text)

'probabl the best movi i have ever seen!'

"Stemming is the process of reducing inflection in words
to their root forms such as mapping a group of words to
the same stem even if the stem itself is not a valid word in

the Language."

### Lemmatization

Lemmatization, unlike Stemming, reduces the inflected
words properly ensuring that the root word belongs to
the language. In Lemmatization root word is called
Lemma. A lemma (plural lemmas or lemmata) is the
canonical form, dictionary form, or citation form of a set
of words.

In [1]:
import nltk
nltk.download('wordnet')

from nltk.stem import WordNetLemmatizer
wordnet_lemmatizer = WordNetLemmatizer()

sentence = "He was running and eating at: same time. He has bad habit of swimming after playing long hours in the Sun."
pundtuations=" ?:!. , ;"
sentence_words = nltk.word_tokenize(sentence)
for word in sentence_words:
    if word in pundtuations:
        sentence_words.remove(word)

print("{0:20}{1:20}".format("Word","Lemma"))
for word in sentence_words:
    print ("{0:20}{1:20}".format(word,wordnet_lemmatizer.lemmatize(word)))

[nltk_data] Error loading wordnet: <urlopen error [Errno 11001]
[nltk_data]     getaddrinfo failed>

Word                Lemma
He                  He
was                 wa
running             running
and                 and
eating              eating
at                  at
same                same
time                time
He                  He
has                 ha
bad                 bad
habit               habit
of                  of
swimming            swimming
after               after
playing             playing
long                long
hours               hour
in                  in
the                 the
Sun                 Sun

In [ ]:
# leammatization is slow staming is fart 

# lemmatization is the process of converting a word to its base or root form.
# Stemming is the process of reducing a word to its root form by removing suffixes and prefixes.
# Stemming is faster than lemmatization but lemmatization gives better results.

# when use lemmatization use :- user ko output dekhana haa
# when use stemming use :- user ko output dekhana nahi haa