In [14]:
import pandas as pd

a=pd.read_csv(r"D:\CODING\PYTHON\NLP\IMDB Dataset.csv")
a

                                                  review sentiment
0      One of the other reviewers has mentioned that ...  positive
1      A wonderful little production. <br /><br />The...  positive
2      I thought this was a wonderful way to spend ti...  positive
3      Basically there's a family where a little boy ...  negative
4      Petter Mattei's "Love in the Time of Money" is...  positive
...                                                  ...       ...
49995  I thought this movie did a down right good job...  positive
49996  Bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  I am a Catholic taught in parochial elementary...  negative
49998  I'm going to have to disagree with the previou...  negative
49999  No one expects the Star Trek movies to be high...  negative

[50000 rows x 2 columns]

In [15]:
a=a.iloc[:10000]
a

                                                 review sentiment
0     One of the other reviewers has mentioned that ...  positive
1     A wonderful little production. <br /><br />The...  positive
2     I thought this was a wonderful way to spend ti...  positive
3     Basically there's a family where a little boy ...  negative
4     Petter Mattei's "Love in the Time of Money" is...  positive
...                                                 ...       ...
9995  Fun, entertaining movie about WWII German spy ...  positive
9996  Give me a break. How can anyone say that this ...  negative
9997  This movie is a bad movie. But after watching ...  negative
9998  This is a movie that was probably made to ente...  negative
9999  Smashing film about film-making. Shows the int...  positive

[10000 rows x 2 columns]

In [16]:
a.duplicated().sum()

np.int64(17)

In [17]:
a.drop_duplicates(inplace=True)

C:\Users\sinha\AppData\Local\Temp\ipykernel_42948\898602298.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  a.drop_duplicates(inplace=True)

In [18]:
a["review"]=a["review"].str.lower()

C:\Users\sinha\AppData\Local\Temp\ipykernel_42948\669757413.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  a["review"]=a["review"].str.lower()

In [19]:
import re
def remove_html(text):
    p=re.compile('<.*?>')
    return p.sub(r'',text)

In [20]:
a["review"]=a["review"].apply(remove_html)

C:\Users\sinha\AppData\Local\Temp\ipykernel_42948\1004165951.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  a["review"]=a["review"].apply(remove_html)

In [21]:
def remove_url(text):
    p=re.compile(r'http?//\S+|www\.S+')
    return p.sub(r'',text)

In [22]:
a["review"]=a["review"].apply(remove_url)

C:\Users\sinha\AppData\Local\Temp\ipykernel_42948\2944811317.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  a["review"]=a["review"].apply(remove_url)

In [23]:
import string
pu= string.punctuation

def remove_punctioun(text):
    return text.translate(str.maketrans('','',pu))

In [24]:
a["review"]=a["review"].apply(remove_punctioun)

C:\Users\sinha\AppData\Local\Temp\ipykernel_42948\3211544570.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  a["review"]=a["review"].apply(remove_punctioun)

In [25]:
from nltk.corpus import  stopwords


def remove_stopword(text):
    new_text=[]
    for i in text.split():
        if i in stopwords.words("english"):
            new_text.append('')
        else:
            new_text.append(i)
    x=new_text[ : ]
    new_text.clear()
    return " ".join(x)

In [26]:
a["review"]=a["review"].apply(remove_stopword)

C:\Users\sinha\AppData\Local\Temp\ipykernel_42948\1110483242.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  a["review"]=a["review"].apply(remove_stopword)

In [27]:
a

                                                 review sentiment
0     one    reviewers  mentioned   watching  1 oz e...  positive
1      wonderful little production  filming techniqu...  positive
2      thought    wonderful way  spend time    hot s...  positive
3     basically theres  family   little boy jake thi...  negative
4     petter matteis love   time  money   visually s...  positive
...                                                 ...       ...
9995  fun entertaining movie  wwii german spy julie ...  positive
9996  give   break   anyone say     good hockey movi...  negative
9997   movie   bad movie   watching  endless series ...  negative
9998     movie   probably made  entertain  middle sc...  negative
9999  smashing film  filmmaking shows  intense  stra...  positive

[9983 rows x 2 columns]

In [28]:
x=a.iloc[:,:1]
y=a.iloc[:,-1]

In [29]:
x

                                                 review
0     one    reviewers  mentioned   watching  1 oz e...
1      wonderful little production  filming techniqu...
2      thought    wonderful way  spend time    hot s...
3     basically theres  family   little boy jake thi...
4     petter matteis love   time  money   visually s...
...                                                 ...
9995  fun entertaining movie  wwii german spy julie ...
9996  give   break   anyone say     good hockey movi...
9997   movie   bad movie   watching  endless series ...
9998     movie   probably made  entertain  middle sc...
9999  smashing film  filmmaking shows  intense  stra...

[9983 rows x 1 columns]

In [30]:
y

0       positive
1       positive
2       positive
3       negative
4       positive
          ...
9995    positive
9996    negative
9997    negative
9998    negative
9999    positive
Name: sentiment, Length: 9983, dtype: object

In [31]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
y=le.fit_transform(y)

In [32]:
y

array([1, 1, 1, ..., 0, 0, 1], shape=(9983,))

In [41]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_teain,y_test=train_test_split(x,y,random_state=4,test_size=0.2)

In [42]:
from sklearn.feature_extraction.text import TfidfVectorizer,CountVectorizer

tfidf=CountVectorizer()
x_train=tfidf.fit_transform(x_train["review"]).toarray()
x_test=tfidf.transform(x_test["review"]).toarray()

In [43]:
from sklearn.naive_bayes import GaussianNB

gnb=GaussianNB()
gnb.fit(x_train,y_teain)
gnb.score(x_test,y_test)*100

65.04757135703555

In [44]:
from sklearn.svm import SVC

sv=SVC()
sv.fit(x_train,y_teain)
sv.score(x_test,y_test)*100

85.42814221331997